<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>BCCP Generator</title>
</head>
<style>
h1{
    color: navy;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 40px;
}
h3{
    color: gray;
    font-family: 'Arial';
    font-size: 20px;
}
img{
    margin-top:20px;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5050/">Home<span class="sr-only">(current)</span></a>
            <!-- </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PREDICT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://localhost:5050/free">Free Version</a>
                <a class="dropdown-item" href="http://localhost:5050/login">Pro Version</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>

<center>
    <br>
    <br>
    <br>
    <h1>BCCP GENERATOR</h1>
    <br>
    <h3> (Bank Customer Churn Prediction Generator) </h3>
    <br>
    <form method="POST" action="http://localhost:5050/result">
        <br>
            <div class="form-row" style="width: 750px">
              <div class="form-group col-md-3" style="width: 120px" required="required">
                <label for="geo">Region :</label>
                <select name="geo" class="form-control">
                  <option value="fra">France</option>
                  <option value="ger">German</option>
                  <option value="spa">Spain</option>
                </select>
              </div>
              <div class="form-group col-md-3" style="width: 120px" required="required">
                <label for="gender">Gender :</label>
                <select name="gender" class="form-control">
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                </select>
              </div>
              <div class="form-group col-md-3" style="width: 120px" required="required">
                <label for="ccard">Has Credit Card(s) :</label>
                <select name="ccard" class="form-control">
                  <option value="y">Yes</option>
                  <option value="n">No</option>
                </select>
              </div>
              <div class="form-group col-md-3" style="width: 120px" required="required">
                <label for="active">Active Member :</label>
                <select name="active" class="form-control">
                    <option value="y">Yes</option>
                    <option value="n">No</option>
                  </select>
              </div>
            </div>
            <div class="form-row" style="width: 800px">
                <div class="form-group col-md-4" required="required">
                    <label for="credit">Credit Score :</label>
                    <input type="number" step= "1" min="350" max="850" class="form-control" style="width: 200px" name="credit" placeholder="350-850">
                </div>
                <div class="form-group col-md-4" required="required">
                    <label for="balance">Balance (US$) :</label>
                    <input type="number" step= ".01" min="0" max="300000" class="form-control" style="width: 200px" name="balance" placeholder="0-300000">
                </div>
                <div class="form-group col-md-4" required="required">
                    <label for="salary">Salary (US$) :</label>
                    <input type="number" step= ".01" min="0" max="200000" class="form-control" style="width: 200px" name="salary" placeholder="0-200000">
                </div>
            </div>
            <div class="form-row" style="width: 800px">
              <div class="form-group col-md-4" required="required">
                <label for="age">Age :</label>
                <input type="number" placeholder="18-100" name="age" step= "1" min="18" max="100" style="width: 200px" id="age" class="form-control" required=True/>
            </div>
              <div class="form-group col-md-4" required="required">
                <label for="tenure">Tenure :</label>
                <input type="number" placeholder="1-10" name="tenure" step= "1" min="0" max="10" style="width: 200px" id="tenure" class="form-control" required=True/>
            </div>
            <div class="form-group col-md-4" required="required">
              <label for="prod">Product(s) Used :</label>
              <input type="number" placeholder="1-4" name="prod" step= "1" min="1" max="4" style="width: 200px" id="prod" class="form-control" required=True/>
            </div> 
            </div>
        <br>
        <br>
        <button type="submit" style="background-color:navy; color: whitesmoke; width: 700px"
        class="btn btn-info">PREDICT NOW!</button>
    </form>
</center>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>